.per-makeup-header {
  height: 14vh;
}

.per-makeup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 2vh;
}

.per-makeup-container h4 {
  color: #e97477;
}

.per-makeup-container > h2,
.per-makeup-container > h1 {
  margin-top: 7%;
  margin-bottom: 0;
}

.per-makeup-text {
  width: 40%;
  margin-left: 3%;
  margin-right: 25%;
  & > h4:hover {
    cursor: pointer;
  }
}

.per-makeup-img-two {
  position: absolute;
  right: 65px;
  bottom: 65px;
}

.per-makeup-btn {
  margin-top: 7%;
}

.per-makeup-btn h4 {
  color: #fafafa;
}

.footer {
  margin-top: 0;
}

.perm-first::after {
  content: ' service is a cosmetic procedure.';
}

.perm-second::after {
  content: ' is a cosmetic technique which';
}
