.skill-num {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 100px;
  line-height: 117px;
  color: rgba(233, 116, 119, 0.4);
  margin-top: -25px;
}

.skill-one {
  display: flex;
  margin-top: 3%;
  align-items: flex-end;
}

.skill-container h2 {
  margin-bottom: 4%;
}
