.a-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10%;
}

.a-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 40%;
}

.a-high-number-one {
  position: absolute;
  left: -60px;
  top: -54px;
}

.a-text-container p {
  margin-bottom: 3%;
}

.a-text-container h1 {
  margin-bottom: 6%;
}

.a-h2-to-p {
    margin-bottom: 0;
    margin-top: 0;
    &::after {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
    }
}

.a-first-text::after {
        content: ' offers professional services of art';
}
.a-second-text::after {
        content: ' the session to be as comfortable and painless as possible for';
}