h3 {
  color: white;
}
.profile-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h1 {
    margin-top: 11rem;
  }
  & > h2 {
    color: white;
  }
}

.profile-data {
  display: flex;
  width: 100%;
  margin-top: 3vh;
  & > div {
    margin: 0 4vw;
    width: 50vw;
    &:last-child {
      width: 40vw;
    }
    h3 {
      color: white;
    }
    & > .form {
      display: flex;
      flex-direction: column;
      padding: 0 2vw;
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > span {
          display: inline-flex;
          & > img {
            margin-right: -3vw;
            margin-left: 2vw;
          }
        }
        & > input {
          margin: 2vh 0;
          border: none;
          background: transparent;
          border-bottom: 1px solid #e97477;
          width: 16vw;
          color: white;
          &:focus {
            outline: none;
          }
        }
        & > button {
          width: 16vw;
        }
      }
      & > div > .br {
        margin-top: 4vh;
        justify-content: flex-start;
        & > h3 {
          margin-right: 4vw;
        }
      }
    }

    & > .artist {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      & > .rounded-img {
        margin-top: 4vh;
        width: 20vw;
        & > img {
          width: 100%;
        }
      }

      & > .artist-info {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-left: 8vw;
        width: 100%;
        & > span {
          width: 100%;
          display: flex;
          justify-content: space-between;
          & > img:hover {
            cursor: pointer;
          }
        }
        & > .hidden-select {
          width: 100%;
          margin-top: 2rem;
          & > h2:hover {
            cursor: pointer;
          }
        }
        & > p {
          margin-top: 1rem;
          border-bottom: 2px solid #e97477;
        }
        & > a {
          text-decoration: none;
          & > h4 {
            text-transform: uppercase;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

.sessions {
  display: flex;
  // flex-direction: column;
  margin-top: 4rem;
  width: 100vw;
  display: flex;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 46%;
    margin: 0 4vw;
    &:first-child {
      align-items: flex-start;
      margin: 0 6vw;
      & > div {
        width: 30vw;
        justify-content: space-between;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 18vw;
      & > h2,
      & > span > h3 {
        &:first-child {
          margin-right: 2vw;
        }
      }
      & > span {
        display: flex;
      }
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  .lower-btn {
    display: flex;
    justify-content: flex-end;
    margin: 4rem 4vw;
    &.right {
      justify-content: flex-start;
    }
    & > a {
      text-decoration: none;
    }
  }
}
