.piercing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 2vh 0;
  padding-top: 10%;
  & > h1 {
    margin-top: 7%;
  }
  & > h1, h2 {
    margin-bottom: 0;
    line-height: 0.9;
  }
  & > h4 {
    color: #e97477;
  }
}

.piercing-text {
  width: 30%;
  margin-left: 3%;
  margin-right: 28%;
  & > h4:hover {
    cursor: pointer;
  }
}

.piercing-img-two {
  @media screen and (max-width: 1440px) and (max-height: 900px) {
    width: 20vw;
  }
  position: absolute;
  right: 65px;
  bottom: 65px;
}

.piercing-btn {
  margin-top: 7%;
}

.piercing-btn h4 {
  color: #fafafa;
}

.footer {
  margin-top: 0;
}

.h2-to-p {
  margin-top: 10%;
  line-height: 0.9;
  margin-bottom: 0;
  &::after {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
  }
}

.piercing-first::after {
  content: ', a form of body modification, is the practice of';
}

.piercing-second::after {
  content: ' is individual and depends on the';
}
