.Header {
    top: 25px;
    display: flex;
    position: absolute;
    width: 92%;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.phone-num {
    display: flex;
    justify-content: center;
    flex-direction: column;
}