.third-block {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
    h1 {
        margin-bottom: 3%;
    }
    h3 {
        line-height: 2;
    }
    p {
        margin-top: 3%;
    }
    button {
        margin: 0 auto;
        margin-top: 4%;
        background: #0A0A0A;
        border: 2px solid rgba(233, 116, 119, 0.4);
        box-sizing: border-box;
        border-radius: 3px;
        width: auto;
        padding: 15px 60px;
        height: auto;
        transition: 1s;
        &:hover {
            background: #E97477;
        }
    }
}

.a-high-number-three {
    position: absolute;
    left: -50px;
    top: -90px;
}