.third-block {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  h1 {
    margin-bottom: 3%;
  }
  h3 {
    line-height: 2;
  }
  p {
    margin-top: 3%;
  }
  button {
    margin: 0 auto;
    margin-top: 4%;
  }
}

.a-high-number-three {
  position: absolute;
  left: -50px;
  top: -90px;
}
