.text-block {
  top: 0;
  bottom: 0;
  left: 230px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-block p {
  margin-top: 8px;
}

.text-block-btn {
  margin-top: 60px;
  border: 2px solid #e97477;
  box-sizing: border-box;
  border-radius: 3px;
  background: #0a0a0a;
  width: 14vw;
}

.text-block-btn h4 {
  display: flex;
  align-items: center;
}
