.person-block {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 60px 30px;
  & > p {
    padding: 0 30px;
  }
}
