.tattoo-header {
  height: 14vh;
}

.tattoo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 2vh;
  & > div:first-child {
    width: 46%;
    & > img {
      width: 100%;
    }
  }
}

.tattoo-container h2,
h1 {
  margin-top: 7%;
  margin-bottom: 0;
}

.tattoo-text {
  width: 30%;
  margin-left: 3%;
  margin-right: 29%;
  & > .reset-btn {
    margin: 0;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.tattoo-img-two {
  position: absolute;
  right: 65px;
  bottom: 65px;
  @media screen and (max-width: 1440px) and (max-height: 900px) {
    width: 20%;
  }
}

.tattoo-btn {
  margin-top: 7%;
}

.tattoo-btn h4 {
  color: #fafafa;
}

.footer {
  margin-top: 0;
}

.tattoo-first::after {
  content: ' is a form of body modification where a design';
}
.tattoo-second::after {
  content: ' use clinically approved materials';
}
.tattoo-third::after {
  content: ' is determined';
}
