.piercing-header {
    height: 14vh;
}

.piercing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.piercing-container h4 {
    color: #E97477;
}

.piercing-container h2,h1 {
    margin-top: 7%;
}

.piercing-text {
    width: 30%;
    margin-left: 3%;
    margin-right: 29%;
}

.piercing-img-two {
    position: absolute;
    right: 65px;
    bottom: 65px;
}

.piercing-btn {
    margin-top: 7%;
    background: #0A0A0A;
    border: 2px solid rgba(233, 116, 119, 0.4);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px 60px;
}

.piercing-btn h4 {
    color: #FAFAFA;
}

.footer {
    margin-top: 0;
}


