.second-block {
    width: 76%;
    margin-top: 120px;
    margin-left: 12%;
    margin-right: 12%;
}

.tattoo-block:nth-child(odd) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
}

.tattoo-block:nth-child(odd) .tattoo-text {
    margin-right: 15%;
}

.tattoo-block:nth-child(even) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
}
        
.tattoo-block:nth-child(even) .tattoo-img {
    order: 1;
}

.tattoo-block:nth-child(even) .tattoo-text {
    margin-left: 15%;
}
