.tattoo-block h4 {
    color: rgba(233, 116, 119, 0.4);;
    float: right;
    margin-top: 8%;
    transition: 1s;
}

.tattoo-block h4:hover {
    color: #E97477;
    cursor: pointer;
}

.tattoo-block:nth-child(odd) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
    
    .tattoo-text {
        margin-right: 15%;
    }
} 
        
.tattoo-block:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;

    .tattoo-text {
        margin-left: 15%;
    }
} 
