.footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  padding-top: 4%;
  border-top: 2px solid rgba(233, 116, 119, 0.1);
  & > .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & > .contacts {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    & > div {
      display: flex;
      justify-content: space-evenly;
      h4 {
        line-height: 2;
      }
      & > div {
        margin-right: 1.5vw;
      }
    }
  }
  & > .social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    & > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > h4 {
        margin: 0 1vw;
        cursor: pointer;
      }
    }
  }
}

.logo p {
  margin-top: 50px;
}
