.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10%;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > button {
    margin-top: 60px;
  }
  h1::first-line {
    color: #0a0a0a;
    -webkit-text-stroke: 1px white;
  }
}

.text-block p {
  margin-top: 8px;
}

.high-number-one {
  position: absolute;
  left: -60px;
  top: 0;
}
